# Example backend config for AzureRM backend
# Usage:
#   terraform init -backend-config=backend.hcl

# Required
storage_account_name = "<your-sa-name>"
container_name       = "tfstate"
key                  = "lab2.terraform.tfstate"

# Optional when lookup of blob endpoint is needed (see docs)
# resource_group_name  = "<rg-name>"
# subscription_id      = "<sub-id>"
# tenant_id            = "<tenant-id>"
# use_azuread_auth     = true
# use_cli              = true
# use_oidc             = true
# lookup_blob_endpoint = false
